/*Para concretar las medidas que queremos y no nos afecte lo que tienen los navegadores por defecto*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem son 10 pixeles*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Globales*/

/*El tipo de letra para todo el body de la pagina web*/
body {
  font-family: sans-serif;
}

/*Para que las imagenes no se extiendan mas que el ancho del su respectivo contenedor*/
img {
  max-width: 100%;
  display: block;
}

/*El tipo de letra para todos lod h1, h2 y h3 de la pagina web*/
h1,
h2,
h3 {
  font-family: sans-serif;
}

/*El tamaño de letra de los h1 para los 3 tipos de medida*/
h1 {
  font-size: 5rem;
}

@media (min-width:768px) and (max-width:1278px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width:767px) {
  h1 {
    font-size: 2.5rem;
  }
}

/*Tamaño de letra de los h2 de la pagina*/
h2 {
  font-size: 3rem;
}

/*Tamaño de letra de los h3 de la pagina*/
h3 {
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}

/*Quitar el subrayado, poner la letra en negro y dar tamaño de letra a todos los enlaces para los 3 tipos de medida*/
a {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}

@media (min-width:768px) and (max-width:1278px) {
  a {
    font-size: 1.5rem;
  }
}

/*HEADER*/

/*Parte de arriba*/

/*Darle el color a todo el header*/
header {
  background-color: white;
}

/*Estilos del div de arriba del todo, donde se registra o inicia sesion*/
.div-arriba {
  width: 100%;
  background-color: #01b0bf;
  display: flex;
  height: 4rem;
  align-items: center;
}

/*Estilos del div de arriba del todo, donde se registra o inicia sesion, pero un div hijo mas corto*/
.div-arriba-dentro {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  display: flex;
}

/*Estilos del div donde se situa el titulo h4 de la izquierda del todo*/
.div-header-h4 {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 3;
}

/*Estilos del titulo h4 de la izquierda del todo*/
.div-arriba h4 {
  color: white;
  font-size: 1.6rem;
}

/*Estilos del contendor donde van los enlaces de inicio de sesion y registrarse*/
.sesion {
  display: flex;
  color: white;
  justify-content: flex-end;
  flex: 1;
}

/*Estilos para cuando se accede a la pagina desde una pantalla mas pequeña, entre 768 y 1278px en horizontal*/
@media (min-width:768px) and (max-width:1278px) {
  
  .div-arriba-dentro {
    width: 80%;
  }

  .div-header-h4 {
    flex: 60%;
  }

  .sesion {
    flex: 40%;
  }
}

/*Estilos para cuando se accede a la pagina desde una pantalla mas pequeña, de menos de 767px en horizontal*/
@media (max-width:767px) {

  .div-arriba {
    height: 8rem;
  }

  .div-arriba-dentro {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .div-header-h4 {
    height: 50%;
  }

  .sesion {
    width: 100%;
    justify-content: center;
  }
}

/*Estilos para los enlaces de iniciar sesion y registrarse*/
.sesion a {
  color: white;
  margin: 1rem;
}

/*Logo y carro*/

/*Estilos para el div donde estan el logo, el nombre y el carrito de la compra*/
.imagen-titulo {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/*Estilos para el logo de la empresa*/
.imagen-titulo img {
  height: 10rem;
  width: 12rem;
  margin-right: 1.5rem;
}

/*Dar color al titulo h1*/
.imagen-titulo h1 {
  color: #01b0bf;
}

/*Estilos para el enlace de compra y el logo del carrito*/
.carrito {
  margin-left: auto;
  color: #01b0bf;
}

/*Estilo para que, cuando se ponga el raton encima del logo del carrito, este se haga mas grande*/
.carrito i:hover {
  font-size: 3rem;
}

/*Estilos para el enlace de tu compra*/
.imagen-titulo a {
  font-size: 2rem;
  color: #01b0bf;
}

/*Estilos para ver el logo, el titulo h1 y el carrito diferente cuando la longitud de la pantalla sea de entre 768px y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
  .imagen-titulo {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}

/*Estilos para ver el logo, el titulo h1 y el carrito diferente cuando la longitud de la pantalla sea de menos de 767px*/
@media (max-width:767px) {
  .imagen-titulo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .carrito {
    margin-left: auto;
    color: #01b0bf;
    margin-top: 0.1rem;
    text-align: center;
  }
  
  .imagen-titulo img {
    height: 8rem;
    width: 10rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
  }

  .carrito a {
    display: none;
  }
}

/*Enlaces de navegacion*/

/*Dar separacion entre el logo y titulo, con respecto a los enlaces*/
.contenedor-navegacion {
  padding-top: 1rem;
}

/*Estilos para el nav donde estan todos los enlaces*/
.nav-principal {
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0 3.5rem 7rem;
  display: flex;
}

/*Estilos para los enlaces de dentro del nav*/
.nav-principal a {
  margin-left: 3.5rem;
  color: #01b0bf;
}

/*Estilos para los logos situados a la derecha de cada enlace*/
.nav-principal i {
  color: #01b0bf;
}

/*Hacer los enlaces mas grandes cuando el raton se queda parado encima de cada uno de ellos*/
.nav-principal a:hover {
  font-size: 2rem;
}

/*Poner un borde que separe el header y los enlaces con el contenido de esta pagina en concreto*/
.separador {
  border-bottom: 0.1rem solid #01b0bf;
}

/*Estilos para los enlaces cuando la longitud horizontal de la pantalla esta entre 768px y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
  .nav-principal {
    width: 80%;
    padding: 2rem 0 3.5rem 0;
  }

  .nav-principal a {
    margin-left: 1rem;
  }

  .nav-principal i {
    display: none;
  }
}

/*Estilos para los enlaces cuando la longitud horizontal de la pantalla ees de 767px*/
@media (max-width:767px) {

  .contenedor-navegacion {
    overflow-x: hidden;
  }

  .nav-principal {
    width: 90%;
    padding: 2rem 0 3.5rem 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-principal i {
    display: none;
  }

  .nav-principal a {
    margin: 0 1rem; 
}
}

/*Seccion inicio*/

/*Disminuir y la longitud y dejar el div en medio de la pagina para que todos los hijos esten centrados en esta longitud. Div padre*/
.seccion-inicio {
  width: 75%;
  margin: 0 auto;
}

/*Color del titulo h2*/
.seccion-inicio h2 {
  color: #01b0bf;
}

/*Estilos del div padre donde estan las tres fotos*/
.div-inicio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
}

/*Estilos para el primer articulo. Se pone la imagen como fondo de pantalla para luego poder meter texto encima y se le da el espacio deseado*/
.productos-inicio:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url('../img/Imágenes_inicio/Impresora3D.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 55rem;
  display: flex;
  flex-direction: column;
}

/*Enlace de navegacion situado en el interior del primer article se le dan todos los estilos CSS*/
.texto-inicio-impresora {
  display: flex;
  background-color: #01b0bf;
  justify-content: center;
  width: 40%;
  height: 15%;
  margin: 0 auto;
  margin-top: 37rem;
  border: 0.1rem solid black; 
  border-radius: 1rem; 
  padding: 1rem;
  align-items: center;
}

/*Estilos para los enlaces de navegacion del contendor padre*/
.seccion-inicio a {
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Estilos para el segundo article. Se le da el tamaño y la posicion deseada*/
.productos-inicio:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 6;
  display: grid;
}

/*Se pone la imagen de fondo del segundo article y se le da posicion y tamaño*/
.inicio-accesorios {
  background-image: url('../img/Imágenes_inicio/accesorios_3D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 26.5rem;
  display: flex;
  flex-direction: column;
}

/*Enlace de navegacion situado en el interior del segundo article se le dan todos los estilos CSS*/
.texto-inicio-accesorios {
  display: flex;
  background-color: #01b0bf;
  justify-content: center;
  width: 45%;
  height: 23%;
  margin: 0 auto;
  margin-top: 18rem;
  border: 0.1rem solid black; 
  border-radius: 1rem; 
  padding: 1rem;
  align-items: center;
}

/*Se pone la imagen de fondo del tercer article y se le da posicion y tamaño*/
.inicio-impresion3D {
  background-image: url('../img/Imágenes_inicio/impresion3D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 26.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

/*Estilos para el tercer article. Se le da el tamaño y la posicion deseada*/
.productos-inicio:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  margin-top: 2rem;
  font-size: 2rem;
  color: #01b0bf;
}

/*Posicion y tamaño de los tres article cuando la longitud horizontal de la pantalla es de entre 768 y 1278px*/
@media (min-width:768px) and (max-width:1278px) {

  .seccion-inicio {
    width: 80%;
  }

  .div-inicio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .productos-inicio:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 28rem;
  }
  
  .texto-inicio-impresora {
    height: 6rem;
    margin-top: 19rem;
  }
  
  .productos-inicio:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
  }
  
  .inicio-impresion3D {
    background-image: url('../img/Imágenes_inicio/impresion3D.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 26.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .productos-inicio:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    margin-top: 0;
    font-size: 2rem;
    color: #01b0bf;
  }
}

/*Posicion y tamaño de los tres article cuando la longitud horizontal de la pantalla es menor a 767px*/
@media (max-width:767px) {
  .seccion-inicio {
    width: 90%;
  }

  .div-inicio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .productos-inicio:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 28rem;
  }
  
  .texto-inicio-impresora {
    height: 6rem;
    margin-top: 19rem;
  }
  
  .productos-inicio:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
  }
  
  .inicio-impresion3D {
    background-image: url('../img/Imágenes_inicio/impresion3D.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 33rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .texto-inicio-impresora {
    width: 55%;
    height: 25%;
    margin-top: 19rem;

  }
  
  .productos-inicio:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    margin-top: 0;
    font-size: 2rem;
    color: #01b0bf;
  }
}

/*Seccion mejoras*/

/*Estilos para el contenedor padre donde van alojadas los 3 cuadrados con informacion extra*/
.mejoras {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*Estilos para los 3 div donde van los elementos interiores (logo texto y titulo)*/
.mejora {
  display: flex;
  margin-right: 3rem;
  flex: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

/*Estilo para que, al poner encima el rato, se vea el borde oscuro y difuminado de cada contenedor*/
.mejora:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

/*Quitar el margen del contenedor final para que esten los 3 div bien centrados*/
.mejora:last-child {
  margin-right: 0;
}

/*Estilos para el contenedor de la izquierda, donde se situa el logo correspondiente a cada caja*/
.mejora-izq {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Estilos para el propio logo*/
.mejora-izq i {
  font-size: 5rem;
  color: #00b1bf;
}

/*Estilos para el div de la derecha, donde se encuentran el titulo h3 de la caja y el texto explicativo*/
.mejora-der {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Estilos para los titulos h3*/
.mejora-der h3 {
  font-size: 2.5rem;
  color: black;
}

/*Estilos para los textos explicativos; tamaño color y posicion*/
.mejora-der p {
  font-size: 1.8rem;
  color: black;
  width: 70%;
  margin-top: 1rem;
}

/*Estilos para el div de las mejoras y los elementos interiores cuando la longitud horzontal de la pantalla es de entre 768 y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
  .mejoras {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  
  .mejora {
    display: flex;
    margin-right: 0;
    margin-top: 1.5rem;
  }
}

/*Estilos para el div de las mejoras y los elementos interiores cuando la longitud horzontal de la pantalla es de 767px*/
@media (max-width:767px) {
  .mejoras {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  
  .mejora {
    display: flex;
    margin-right: 0;
    margin-top: 1.5rem;
  }
}

/*MAIN*/

/*Estilo para cambiar el color de todo el main*/
.div-main {
  background-color: #f5f5f5;
}

/*Estilos para un div interior del main, para centrar los elementos en un espacio mas reducido*/
.div-main-dentro {
  width: 75%;
  margin: 0 auto;
}

/*Cambiar el color del titulo h2 del main*/
.div-main-dentro h2 {
  color: #01b0bf;
}

/*Estilos para la posicion de los 3 articulos del main*/
.articulo-1, .articulo-2, .articulo-3 {
  display: flex;
  flex-direction: column;
}

/*Cambiar el color de los titulos h3 de cada articulo del main*/
.articulo-1, .articulo-2, .articulo-3 h3 {
  color: #01b0bf;
}

/*Estilos para que no haya desbordamiento horizontal de los articulos de dentro del div*/
.div-articulos {
  display: flex;
  overflow-x: auto;
}

/*Estilos para div especifico de cada producto del main*/
.div-articulos-producto {
  flex-shrink: 0;
  width: 30rem; 
  margin-right: 1rem; 
  border: 0.1rem solid #01b0bf;
}

/*Poner margen a la derecha para centrar bien el div*/
.div-articulos-producto:first-child {
  margin-left: 1rem; 
}

/*Tamaño para las imagenes de los productos*/
.div-articulos-producto img {
  width: 100%; 
  height: 28rem;
}

/*Estilos para el div donde va el nombre, el precio y el input de cada producto*/
.producto-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top: 0.3rem solid #01b0bf;
}

/*Estilos para el nombre de cada producto, el cual es un enlace para una vista mas detallada de los productos*/
.producto-descripcion a {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #00b1bf;
  font-family: "Protest Riot";
  font-size: 2.4rem;
}

/*Estilos para el div donde estan el precio y el input de cada producto*/
.producto-descripcion-input {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

/*Estilos para el input agregar al carrito*/
.producto-descripcion-input input {
  display: inline-block;
  height: 4rem;
  background-color: #00b1bf; 
  color: white; 
  border: none;
  border-radius: 1rem; 
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-left: 2rem;
}

/*Estilos para la etiqueta p donde esta escrito el precio*/
.producto-descripcion-input p {
  color: #01b0bf;
  font-family: "Anton";
  font-size: 2.4rem;
}

/*Margen entre los articulos 1, 2 y 3*/
.articulo-2, .articulo-3 {
  padding-top: 2.5rem;
}

.articulo-3 {
  padding-bottom: 2rem;
}

/*Estilos para el contenedor del articulo 3, donde estan los dos precios*/
.div-oferta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/*Margen entre los dos precios de los productos del articulo 3*/
.div-oferta p {
  margin: 0.5rem 0;
}

/*Estilos para tachar uno de los precios de los productos del articulo 3*/
.tachado {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 0.5rem;
}

/*Estilos para los 3 articulos cuando la longitud horizontal de la pantalla sea de entre 768 y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
  .div-main-dentro {
    width: 80%;
    margin: 0 auto;
  }
  
  .div-articulos {
    display: flex;
    overflow-x: auto;
  }
  
  .div-articulos-producto {
    flex-shrink: 0;
    width: 30rem; 
    margin-right: 1rem; 
    border: 0.1rem solid #01b0bf;
  }
  
  .div-articulos-producto img {
    width: 100%; 
    height: 28rem;
  }
  
  .producto-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 0.3rem solid #01b0bf;
  }
  
  .producto-descripcion a {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: #00b1bf;
    font-family: "Protest Riot";
    font-size: 2.4rem;
  }
  
  .producto-descripcion-input {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .producto-descripcion-input input {
    display: inline-block;
    height: 4rem;
    background-color: #00b1bf; 
    color: white; 
    border: none;
    border-radius: 1rem; 
    cursor: pointer;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-left: 2rem;
  }
  
}

/*Estilos para los 3 articulos cuando la longitud horizontal de la pantalla sea de entre 768 y 1278px*/
@media (max-width:767px) {
  .div-main-dentro {
    width: 80%;
    margin: 0 auto;
  }
  
  .div-articulos {
    display: flex;
    overflow-x: auto;
  }
  
  .div-articulos-producto {
    flex-shrink: 0;
    width: 30rem; 
    margin-right: 1rem; 
    border: 0.1rem solid #01b0bf;
  }
  
  .div-articulos-producto img {
    width: 100%; 
    height: 28rem;
  }
  
  .producto-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 0.3rem solid #01b0bf;
  }
  
  .producto-descripcion a {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: #00b1bf;
    font-family: "Protest Riot";
    font-size: 2.4rem;
  }
  
  .producto-descripcion-input {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .producto-descripcion-input input {
    display: inline-block;
    height: 4rem;
    background-color: #00b1bf; 
    color: white; 
    border: none;
    border-radius: 1rem; 
    cursor: pointer;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-left: 2rem;
  }
  
}

/*Formulario*/

/*Estilos para el div donde se situa el formulario. Se le da ina longitud horizontal inferior a otros divs de la pagina*/
.formulario {
  width: 65%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Estilos para el fieldset donde se situan los elementos del formulario*/
.formulario-interior {
  background-color: #f5f5f5;
  border: 0.2rem solid #01b0bf; 
  padding: 2rem;
  text-align: center;
}

/*Color y posicionamiento del titulo h2 del formulario*/
.formulario-interior h2 {
  color: #01b0bf;
  margin: 0;
}

/*darle display flex al div donde se encuentran los elementos del formulario; por un lado el div de la foto, por otro el div de los input*/
.div-catalogo {
  display: flex;
}

/*Estilos para el div donde se situal la foto de la izquierda del catalogo*/
#foto-catalogo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Estilos para darle la forma circular y el tamaño a la foto*/
#foto-catalogo img {
  border-radius: 50%;
  width: 30rem; 
  height: 30rem; 
  margin-right: 1.5rem;
}

/*Darle tamaño y posicion al div donde se encuentan los input del formulario*/
#inputs-catalogo {
  flex: 2;
}

#inputs-catalogo h4 {
  margin-top: 0.5rem;
  color: #01b0bf;
  font-size: 2rem;
}

/*Estilos para todos los div donde se encuentean sus respectivos input*/
.div-nombre-apellido, .div-email, .div-empresa, .div-comprador, .div-campo-uso, 
.div-info-extra, .div-condiciones {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

/*Estilos del div donde esta*/
.div-comprador {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*Estilos para el div donde se encuentran los input de tipo radio*/
.div-radios {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  
}

/*Dar posicion a los div donde se encuentran el label y el radio, siendo uno en el lado izquierdo y otro en el derecho*/
.div-radios-izq, .div-radios-der {
  display: flex;
  align-items: center; 
  margin-right: 10rem;
}

/*Dar posicion a las etiquetas de los input de tipo radio*/
.campo-comprador-label {
  margin-right:  -5rem;
}

/*Dar tamaño, color y posicion a los nombres de cada input*/
label {
  font-size: 1.8rem;
  color: #01b0bf;
  margin-right: 0.5rem;
}

/*Dar posicion a la etiqueta donde pone el nombre del primer input del formulario*/
#campo-nombre {
  margin-right: 6rem;
}

/*Margen del div de la empresa para no estar pegado a la foto*/
.div-empresa {
  margin-left: 0.5rem;
}

/*darle display flex al div del campo de uso*/
.div-campo-uso {
  display: flex;
}

/*Id del select del campo uso. Darle tamaño al input y a la letra*/
input, #campo-uso {
  height: 2.5rem;
  width: 15rem;
  font-size: 1.5rem;
}

/*Darle tamaño a la letra de dentro del input de las opciones*/
#campo-uso option, textarea {
  font-size: 1.5rem;
}

/*Subrayar el nav que está en la parte de abajo del formulario, donde las condiciones*/
.div-condiciones a {
  text-decoration: underline;
}

/*Darle margen al input de tipo checkbox con respecto a su label*/
#aceptar-condiciones {
  margin-left: -5.5rem;
}

/*Darle otro tamaño al formulario cuando la longitud horizontal de la pantalla es inferior al un tamaño de entre 768 y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
  .formulario {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #foto-catalogo {
    display: none;
  } 
}

/*Darle otro tamaño al formulario cuando la longitud horizontal de la pantalla es inferior a 767px*/
@media (max-width:767px) {
  .formulario {
    width: 90%;
  }

  .formulario-interior {
    background-color: #f5f5f5;
    border: 0.2rem solid #01b0bf; 
    padding: 2rem;
    text-align: center;
  }
  
  .formulario-interior h2 {
    color: #01b0bf;
    margin: 0;
  }
  
  .div-catalogo {
    display: flex;
    width: 28rem;
  }
  
  #foto-catalogo {
    display: none;
  }
  
  #inputs-catalogo {
    flex: 2;
  }
  
  #inputs-catalogo h4 {
    margin-top: 0.5rem;
    color: #01b0bf;
    font-size: 1.7rem;
    width: 90%;
  }
  
  .div-nombre-apellido,  .div-email, .div-empresa,  .div-empresa, .div-campo-uso, .div-info-extra {
    display: flex;
    flex-direction: column;
  }

  .div-condiciones {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    width: 30rem;
  }

  .div-condiciones label {
    flex: 200%; 
    margin-right: 5rem;
  }

  .div-condiciones input {
    margin-left: 5rem;
  }
  
  .div-comprador {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .label-comprador {
    width: 30rem;
  }

  #campo-nombre {
    margin-bottom: 1rem;
  }

  .div-radios {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    
  }
  
  .div-radios-izq {
    margin-right: -3rem;
  }
  
  label {
    font-size: 1.8rem;
    color: #01b0bf;
    margin-bottom: 1rem;
  }
  
  input, #campo-uso {
    height: 2.5rem;
    width: 15rem;
    font-size: 1.5rem;
  }
  
  .div-campo-uso {
    width: 30rem;
    align-items: flex-start;
  }

  textarea[name="campo-info"] {
    width: 30rem; 
    height: 20rem; 
}

  #boton-enviar {
    margin-left: -7rem;
  }
}

/*FOOTER*/

/*Darle u color de fondo gris y dejar margen con respecto al formulario*/
footer {
  background-color: #f5f5f5;
  margin-top: 2rem;
}

/*Darle una longitud horizontal de 75% para centrar ahi los elementos del footer*/
.div-footer {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

/*Estilos para los tres contenedores del footer, donde esncuentran los enlaces y demas*/
.contenedor-footer {
  display: flex;
  flex-direction:column;
  width: 30rem;
  margin-left: 8rem;
}

/*Tamaño y posicion de los titulos h3 */
.contenedor-footer h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

/*Tamaño y posicion de las imagenes del footer*/
.contenedor-footer img {
  margin-top: 1.5rem;
  width: 80%;
}

/*Estilos para el div donde se encuentra el logo de la empresa y el nombre*/
.logo-footer {
  display: flex;
  align-items: center;
}

/*Tamaño y posicion de la imagen del logo de la empresa*/
.logo-footer img {
  height: 5rem;
  width: 6.5rem;
  margin-right: 1rem;
}

/*Tamaño de la imagen de la foto que esta en el div de la derecha*/
#img-calidad {
  width: 50%;
}

/*Color y tamaño del titulo h1 del footer con el nombre de la empresa*/
.logo-footer h1 {
  color: #01b0bf;
  font-size: 2.5rem;
}

/*Tamaño del div de la izquierda dond eesta el texto, tamaño de letra del texto y separacion entre lineas*/
.texto-footer {
  width: 70%;
  font-size: 1.5rem;
  line-height: 2;
}

/*Tamaño de letra y posicion del titulo h4 del div de la izquierda del footer*/
.contenedor-footer h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/*Estilos del nav donde estan los enlaces del footer*/
.enlaces-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

/*Estilos de la zona gris clarita del footer cuando la pantalla mide entre 768 y 1278px de longitud horizontal*/
@media (min-width:768px) and (max-width:1278px) {
  .div-footer {
    width: 85%;
  }
  
  .contenedor-footer {
    width: 40rem;
    margin-left: 0.1rem;
  }

  .texto-footer {
    width: 85%;
  }

  .logo-footer h1 {
    font-size: 1.5rem;
  }

  .logo-footer img {
    height: 4.5rem;
    width: 5.5rem;
  }
}

/*Estilos de la zona gris clarita del footer cuando la pantalla mide menos de 767px de longitud horizontal*/
@media (max-width:767px) {
  .div-footer {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  
  .contenedor-footer {
    display: flex;
    flex-direction:column;
    width: 30rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  .texto-footer {
    width: 85%;
  }
}

/*Footer de abajo del todo de la pagina*/

/*Estilos para el div donde esta la informacion de abajo del todo de la pagina*/
.div-footer-abajo {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

/*Tamaño del div donde esta la informacion de los derechos y los dos enlaces*/
.div-footer-p {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*Estilos para la letra de la informacion de los derechos y de los dos enlaces*/
.div-footer-p p, .enlaces-footer-abajo a {
  color: white;
  font-size: 1.3rem;
  align-items: center;
}

/*Estilos para el div donde estan los dos enlaces*/
.enlaces-footer-abajo {
  display: flex;
  align-items: center;

}

/*Meter margen entre los dos enlaces*/
.enlaces-footer-abajo a {
  margin-left: 2.5rem;
}

/*Tamaño y forma del contenedor de abajo del todo del footer cuando la longitud horizontal de la pantalla es de entre 768 y 1278px*/
@media (min-width:768px) and (max-width:1278px) {

  .div-footer-abajo {
    height: 7rem;
  }

  .div-footer-p {
    width: 85%;
  }
}

/*Tamaño y forma del contenedor de abajo del todo del footer cuando la longitud horizontal de la pantalla es de 767px*/
@media (max-width:767px) {

  .div-footer-abajo {
    height: 12rem;
  }

  .div-footer-p {
    width: 90%;
    display: block;
  }

  .enlaces-footer-abajo a {
    margin-top: 1rem;
  }
}