/*Para concretar las medidas que queremos y no nos afecte lo que tienen los navegadores por defecto*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem son 10 pixeles*/
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/

body {
    font-family: "Raleway", sans-serif;
}
  
img {
    max-width: 100%;
    /*para que no ocurra el desbordamiento de imágenes. Para que la imagen coja el 100% del contenedor en el que esta*/
    display: block;
    /*para que donde haya fotos pille el 100% del contenedor. Por defecto una imagen es inline. De ese modo es elemento de bloque.*/
}
  
h1, h2, h3 {
    font-family: "Playfair Display", self;
}
  
h1 {
    font-size: 5rem;
}
  
h2 {
    font-size: 3.5rem;
}
  
h3 {
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
}

h4 {
    font-size: 2.5rem;
}
  
a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
}
  
/*Cabecera*/
  
header {
    background-color: white;
}
  
.div-arriba {
    width: 100%;
    background-color: #01b0bf;
    display: flex;
    height: 4rem;
    align-items: center;
}
  
.div-arriba-dentro {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: flex;
}
  
.div-header-h4 {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 3;
}
  
.div-arriba h4 {
    color: white;
    font-size: 1.6rem;
}
  
.sesion {
    display: flex;
    color: white;
    justify-content: flex-end;
    flex: 1;
}
  
.sesion a {
    color: white;
    margin: 1rem;
}
  
  
.imagen-titulo {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  
.imagen-titulo img {
    height: 10rem;
    width: 12rem;
    margin-right: 1.5rem;
}
  
.imagen-titulo h1 {
    color: #01b0bf;
}
  
.carrito {
    margin-left: auto;
    color: #01b0bf;
}
  
.carrito i:hover {
    font-size: 3rem;
}
  
.imagen-titulo a {
    font-size: 2rem;
    color: #01b0bf;
}
  
.contenedor-navegacion {
    padding-top: 1rem;
}
  
.nav-principal {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0 3.5rem 5rem;
    display: flex;
}
  
.nav-principal a {
    margin-left: 7rem;
    color: #01b0bf;
}
  
.nav-principal i {
    color: #01b0bf;
}
  
.nav-principal a:hover {
    font-size: 2rem;
}

/*Nombre del sitio*/

.seccion-arriba {
    width: 100%;
    height: 10rem;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    overflow: hidden;
}

.seccion-arriba-centro {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#nombre-pagina {
    font-family:'Franklin Gothic Medium';
    font-size: 3rem;
}

.seccion-arriba-nombre {
    flex:1;
}

.seccion-arriba-enlaces {
    flex:1;
    display: flex;
    justify-content: flex-end;
}

/*Main*/

.main-productos {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.filtros {
    flex: 30%;
    border-right: 0.2rem solid black;
}

.productos {
    flex: 70%;
}

.descripcion {
    margin-left: 2.5rem;
    border-bottom: 0.1rem solid black;
}

.ordenar-productos {
    margin-top: 2rem;
    margin-left: 2.5rem;
    display: flex;
    height: 4rem;
    border-bottom: 0.1rem solid black;
}

.div-campo-orden-select {
    flex: 1;
    display: flex;
    align-items: flex-start; 
}

.todos-los-productos {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
}

.todos-los-productos p {
    font-size: 1.5rem;
}

#campo-orden {
    height: 50%;
}

/*Main-productos*/

.vista-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-left: 2.5rem;
}

.vista-productos img {
    height: 20rem;
    width: 100%;
}

.producto-individual {
    margin-bottom: 0.5rem;
}

.nombre-precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    margin-bottom: 1rem;
}

.nombre-precio a {
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.nombre-precio h4 {
    margin-top: 1.5rem;
}

#h4-precio {
    color: #01b0bf;
}

/*main-cambio-pagina*/

.cambio-pagina {
    display: flex;
    justify-content: flex-end;
}

.cuadrado {
    border: 0.1rem solid black;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

#cuadrado-1 {
    background-color: #cec1c1;
}

.cuadrado a {
    font-size: 2rem;
}


/*Footer*/

footer {
    background-color: #f5f5f5;
    margin-top: 2rem;
}
  
.div-footer {
    width: 75%;
    margin: 0 auto;
    display: flex;
}
  
.contenedor-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
    margin: 1rem;
}
  
.contenedor-footer h3 {
    font-size: 2rem;
    margin-top: 1rem;
}
  
.contenedor-footer img {
    margin-top: 1.5rem;
    width: 80%;
}
  
.logo-footer {
    display: flex;
    align-items: center;
}
  
.logo-footer img {
    height: 5rem;
    width: 6.5rem;
    margin-right: 1rem;
}
  
#img-calidad {
    width: 50%;
}
  
.logo-footer h1 {
    color: #01b0bf;
    font-size: 2.5rem;
}
  
.texto-footer {
    width: 70%;
    font-size: 1.5rem;
}
  
.texto-footer p {
    line-height: 2;
}
  
.contenedor-footer h4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
  
.enlaces-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
  
.div-footer-abajo {
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}
  
.div-footer-p {
    width: 75%;
    margin: 0 auto;
    display: flex;
}
  
.div-footer-p p, .enlaces-footer-abajo a {
    color: white;
    font-size: 1.3rem;
    align-items: center;
}
  
.enlaces-footer-abajo {
    display: flex;
    align-items: center;
    margin-left: 12rem;
}
  
.enlaces-footer-abajo a {
    margin-left: 2.5rem;
}