/*Para concretar las medidas que queremos y no nos afecte lo que tienen los navegadores por defecto*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem son 10 pixeles*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Globales*/

body {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", self;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}

/*Cabecera*/

header {
  background-color: white;
}

.div-arriba {
  width: 100%;
  background-color: #01b0bf;
  display: flex;
  height: 4rem;
  align-items: center;
}

.div-arriba-dentro {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  display: flex;
}

.div-header-h4 {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 3;
}

.div-arriba h4 {
  color: white;
  font-size: 1.6rem;
}

.sesion {
  display: flex;
  color: white;
  justify-content: flex-end;
  flex: 1;
}

.sesion a {
  color: white;
  margin: 1rem;
}


.imagen-titulo {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.imagen-titulo img {
  height: 10rem;
  width: 12rem;
  margin-right: 1.5rem;
}

.imagen-titulo h1 {
  color: #01b0bf;
}

.carrito {
  margin-left: auto;
  color: #01b0bf;
}

.carrito i:hover {
  font-size: 3rem;
}

.imagen-titulo a {
  font-size: 2rem;
  color: #01b0bf;
}

.contenedor-navegacion {
  padding-top: 1rem;
}

.nav-principal {
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0 3.5rem 5rem;
  display: flex;
}

.nav-principal a {
  margin-left: 7rem;
  color: #01b0bf;
}

.nav-principal i {
  color: #01b0bf;
}

.nav-principal a:hover {
  font-size: 2rem;
}

.separador {
  border-bottom: 0.1rem solid #01b0bf;
}

/*Seccion inicio*/

.seccion-inicio {
  width: 75%;
  margin: 0 auto;
}

.seccion-inicio h2 {
  color: #01b0bf;
}

.div-inicio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
}

.productos-inicio:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url('../img/Imágenes_inicio/Impresora3D.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 55rem;
  display: flex;
  flex-direction: column;
}

.texto-inicio-impresora {
  display: flex;
  background-color: #01b0bf;
  justify-content: center;
  width: 40%;
  height: 15%;
  margin: 0 auto;
  margin-top: 37rem;
  border: 0.1rem solid black; 
  border-radius: 10px; 
  padding: 10px;
  align-items: center;
}

.seccion-inicio a {
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.productos-inicio:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 6;
  display: grid;
}

.inicio-accesorios {
  background-image: url('../img/Imágenes_inicio/accesorios_3D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 26.5rem;
  display: flex;
  flex-direction: column;
}

.texto-inicio-accesorios {
  display: flex;
  background-color: #01b0bf;
  justify-content: center;
  width: 45%;
  height: 23%;
  margin: 0 auto;
  margin-top: 18rem;
  border: 0.1rem solid black; 
  border-radius: 10px; 
  padding: 10px;
  align-items: center;
}

.inicio-impresion3D {
  background-image: url('../img/Imágenes_inicio/impresion3D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 26.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.productos-inicio:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  margin-top: 2rem;
  font-size: 2rem;
  color: #01b0bf;
}

.mejoras {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mejora {
  display: flex;
  margin-right: 3rem;
  flex: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.mejora:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

.mejora:last-child {
  margin-right: 0;
}

.mejora-izq {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mejora-izq i {
  font-size: 5rem;
  color: #00b1bf;
}

.mejora-der {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mejora-der h3 {
  font-size: 2.5rem;
  color: black;
}

.mejora-der p {
  font-size: 1.8rem;
  color: black;
  width: 70%;
  margin-top: 1rem;
}

/*Main*/

.div-main {
  background-color: #f5f5f5;
}

.div-main-dentro {
  width: 75%;
  margin: 0 auto;
}

.div-main-dentro h2 {
  color: #01b0bf;
}

.articulo-1, .articulo-2, .articulo-3 {
  display: flex;
  flex-direction: column;
}

.articulo-1, .articulo-2, .articulo-3 h3 {
  color: #01b0bf;
}

.div-articulos {
  display: flex;
  overflow-x: auto; /* Agrega un scroll horizontal cuando el contenido excede el ancho del contenedor */

}

.div-articulos-producto {
  flex-shrink: 0; /* Evita que los divs se reduzcan automáticamente */
  width: 30rem; /* Ajusta el ancho de cada div hijo según tus necesidades */
  margin-right: 1rem; /* Espacio entre los divs (puedes ajustarlo según tus preferencias) */
  border: 0.1rem solid #01b0bf;
}

.div-articulos-producto:first-child {
  margin-left: 1rem; /* Agrega un margen de 10px al primer div hijo */
}

.div-articulos-producto img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del div hijo */
  height: 28rem;
}

.producto-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top: 0.3rem solid #01b0bf;
}

.producto-descripcion a {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #00b1bf;
  font-family: "Protest Riot";
  font-size: 2.4rem;
}

.producto-descripcion-input {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.producto-descripcion-input input {
  display: inline-block;
  height: 40px;
  background-color: #00b1bf; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none;
  border-radius: 1rem; /* Bordes redondeados */
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-left: 2rem;
}

.producto-descripcion-input p {
  color: #01b0bf;
  font-family: "Anton";
  font-size: 2.4rem;
}

.articulo-2, .articulo-3 {
  padding-top: 2.5rem;
}

.articulo-3 {
  padding-bottom: 2rem;
}

.div-oferta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.div-oferta p {
  margin: 0.5rem 0;
}

.tachado {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 0.5rem;
}

/*Formulario*/

.formulario {
  width: 65%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formulario-interior {
  background-color: #f5f5f5;
  border: 0.2rem solid #01b0bf; /* Cambia el color del borde del formulario a rojo o el color deseado */
  padding: 2rem; /* Ajusta el relleno según sea necesario */
  text-align: center;
}

.formulario-interior h2 {
  color: #01b0bf;
  margin: 0;
}

.div-catalogo {
  display: flex;
}

#foto-catalogo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto-catalogo img {
  border-radius: 50%;
  width: 30rem; 
  height: 30rem; 
  margin-right: 1.5rem;
}

#inputs-catalogo {
  flex: 2;
}

#inputs-catalogo h4 {
  margin-top: 0.5rem;
  color: #01b0bf;
  font-size: 2rem;
}

.div-nombre-apellido, .div-email, .div-empresa, .div-comprador, .div-campo-uso, .div-info-extra, .div-condiciones {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.div-comprador {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.div-radios {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  
}

.div-radios-der {
  flex: 1;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
}

.div-radios-izq {
  flex: 1;
  background-color: purple;
  display: flex;
  justify-content: flex-start;
}

label {
  font-size: 1.8rem;
  color: #01b0bf;
  margin-right: 0.5rem;
}

#campo-nombre {
  margin-right: 6rem;
}

input, #campo-uso {
  height: 2.5rem;
  width: 15rem;
  font-size: 1.5rem;
}

.div-empresa {
  margin-left: 0.5rem;
}

.div-campo-uso {
  display: flex;
}

#campo-uso option, textarea {
  font-size: 1.5rem;
}

.div-condiciones a {
  text-decoration: underline;
}

#aceptar-condiciones {
  margin-left: -5.5rem;
}

/*Footer*/

footer {
  background-color: #f5f5f5;
  margin-top: 2rem;
}

.div-footer {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
  margin: 1rem;
}

.contenedor-footer h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

.contenedor-footer img {
  margin-top: 1.5rem;
  width: 80%;
}

.logo-footer {
  display: flex;
  align-items: center;
}

.logo-footer img {
  height: 5rem;
  width: 6.5rem;
  margin-right: 1rem;
}

#img-calidad {
  width: 50%;
}

.logo-footer h1 {
  color: #01b0bf;
  font-size: 2.5rem;
}

.texto-footer {
  width: 70%;
  font-size: 1.5rem;
}

.texto-footer p {
  line-height: 2;
}

.contenedor-footer h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.enlaces-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.div-footer-abajo {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.div-footer-p {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.div-footer-p p, .enlaces-footer-abajo a {
  color: white;
  font-size: 1.3rem;
  align-items: center;
}

.enlaces-footer-abajo {
  display: flex;
  align-items: center;

}

.enlaces-footer-abajo a {
  margin-left: 2.5rem;
}