/*Para concretar las medidas que queremos y no nos afecte lo que tienen los navegadores por defecto*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem son 10 pixeles*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/

/*El tipo de letra para todo el body de la pagina web*/
body {
    font-family: sans-serif;
}

/*Para que las imagenes no se extiendan mas que el ancho del su respectivo contenedor*/
img {
    max-width: 100%;
    display: block;
}

/*El tipo de letra para todos lod h1, h2 y h3 de la pagina web*/
h1,
h2,
h3 {
    font-family: sans-serif;
}

/*El tamaño de letra de los h1 para los 3 tipos de medida*/
h1 {
    font-size: 5rem;
}

@media (min-width:768px) and (max-width:1278px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 2.5rem;
    }
}

/*Tamaño de letra de los h2 de la pagina*/
h2 {
    font-size: 3rem;
}

/*Tamaño de letra de los h3 de la pagina para dos medidas*/
h3 {
    font-size: 2.8rem;
    margin: 0 0 0.5rem 0;
}

@media (max-width:767px) {
    h3 {
        font-size: 2.6rem;
    }
}

/*Quitar el subrayado, poner la letra en negro y dar tamaño de letra a todos los enlaces para los 3 tipos de medida*/
a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
}

@media (min-width:768px) and (max-width:1278px) {
    a {
        font-size: 1.5rem;
    }
}

/*HEADER*/

/*Parte de arriba*/

/*Darle el color a todo el header*/
header {
    background-color: white;
}

/*Estilos del div de arriba del todo, donde se registra o inicia sesion*/
.div-arriba {
    width: 100%;
    background-color: #01b0bf;
    display: flex;
    height: 4rem;
    align-items: center;
}

/*Estilos del div de arriba del todo, donde se registra o inicia sesion, pero un div hijo mas corto*/
.div-arriba-dentro {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: flex;
}

/*Estilos del div donde se situa el titulo h4 de la izquierda del todo*/
.div-header-h4 {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 3;
}

/*Estilos del titulo h4 de la izquierda del todo*/
.div-arriba h4 {
    color: white;
    font-size: 1.6rem;
}

/*Estilos del contendor donde van los enlaces de inicio de sesion y registrarse*/
.sesion {
    display: flex;
    color: white;
    justify-content: flex-end;
    flex: 1;
}

/*Estilos para cuando se accede a la pagina desde una pantalla mas pequeña, entre 768 y 1278px en horizontal*/
@media (min-width:768px) and (max-width:1278px) {

    .div-arriba-dentro {
        width: 80%;
    }

    .div-header-h4 {
        flex: 60%;
    }

    .sesion {
        flex: 40%;
    }
}

/*Estilos para cuando se accede a la pagina desde una pantalla mas pequeña, de menos de 767px en horizontal*/
@media (max-width:767px) {

    .div-arriba {
        height: 8rem;
    }

    .div-arriba-dentro {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .div-header-h4 {
        height: 50%;
    }

    .sesion {
        width: 100%;
        justify-content: center;
    }
}

/*Estilos para los enlaces de iniciar sesion y registrarse*/
.sesion a {
    color: white;
    margin: 1rem;
}

/*Logo y carro*/

/*Estilos para el div donde estan el logo, el nombre y el carrito de la compra*/
.imagen-titulo {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/*Estilos para el logo de la empresa*/
.imagen-titulo img {
    height: 10rem;
    width: 12rem;
    margin-right: 1.5rem;
}

/*Dar color al titulo h1*/
.imagen-titulo h1 {
    color: #01b0bf;
}

/*Estilos para el enlace de compra y el logo del carrito*/
.carrito {
    margin-left: auto;
    color: #01b0bf;
}

/*Estilo para que, cuando se ponga el raton encima del logo del carrito, este se haga mas grande*/
.carrito i:hover {
    font-size: 3rem;
}

/*Estilos para el enlace de tu compra*/
.imagen-titulo a {
    font-size: 2rem;
    color: #01b0bf;
}

/*Estilos para ver el logo, el titulo h1 y el carrito diferente cuando la longitud de la pantalla sea de entre 768px y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
    .imagen-titulo {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
}

/*Estilos para ver el logo, el titulo h1 y el carrito diferente cuando la longitud de la pantalla sea de menos de 767px*/
@media (max-width:767px) {
    .imagen-titulo {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .carrito {
        margin-left: auto;
        color: #01b0bf;
        margin-top: 0.1rem;
        text-align: center;
    }

    .imagen-titulo img {
        height: 8rem;
        width: 10rem;
        margin-right: 1.5rem;
        margin-top: 1rem;
    }

    .carrito a {
        display: none;
    }
}

/*Enlaces de navegacion*/

/*Dar separacion entre el logo y titulo, con respecto a los enlaces*/
.contenedor-navegacion {
    padding-top: 1rem;
}

/*Estilos para el nav donde estan todos los enlaces*/
.nav-principal {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0 3.5rem 7rem;
    display: flex;
}

/*Estilos para los enlaces de dentro del nav*/
.nav-principal a {
    margin-left: 3.5rem;
    color: #01b0bf;
}

/*Estilos para los logos situados a la derecha de cada enlace*/
.nav-principal i {
    color: #01b0bf;
}

/*Hacer los enlaces mas grandes cuando el raton se queda parado encima de cada uno de ellos*/
.nav-principal a:hover {
    font-size: 2rem;
}

/*Poner un borde que separe el header y los enlaces con el contenido de esta pagina en concreto*/
.separador {
    border-bottom: 0.1rem solid #01b0bf;
}

/*Estilos para los enlaces cuando la longitud horizontal de la pantalla esta entre 768px y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
    .nav-principal {
        width: 80%;
        padding: 2rem 0 3.5rem 0;
    }

    .nav-principal a {
        margin-left: 1rem;
    }

    .nav-principal i {
        display: none;
    }
}

/*Estilos para los enlaces cuando la longitud horizontal de la pantalla ees de 767px*/
@media (max-width:767px) {

    .contenedor-navegacion {
        overflow-x: hidden;
    }

    .nav-principal {
        width: 90%;
        padding: 2rem 0 3.5rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-principal i {
        display: none;
    }

    .nav-principal a {
        margin: 0 1rem;
    }
}

/*NOMBRE DEL PRODUCTO Y ENLACES HACIA PAGINAS ANTERIORES*/

/*Estilos para la seccion situada entre el nav y la foto junto con los datos de compra del producto. Aqui se situan el nombre del producto y los enlaces de vuelta a paginas anteriores*/
.seccion-arriba {
    width: 100%;
    height: 10rem;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    overflow: hidden;
}

/*Darle un tamaño mas reducido al width donde se encuentran el nombre del producto y los enlaces de vuelta a paginas anteriores*/
.seccion-arriba-centro {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/*Estilos para el nombre del producto. Se le cambia la fuente y el tamaño a la letra*/
#nombre-producto {
    font-family: 'Franklin Gothic Medium';
    font-size: 3rem;
}

/*Se le da la posicion y el espacio al nombre del producto*/
.seccion-arriba-nombre {
    flex: 1;
}

/*Se le da la posicion y el espacio a los enlaces de la derecha*/
.seccion-arriba-enlaces {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/*Tamaño y posicion del nombre y los enlaces cuando la longitud horizontal de la pantalla es de entre 768 y 1278px*/
@media (min-width:768px) and (max-width:1278px) {
    .seccion-arriba-centro {
        width: 80%;
    }

    #nombre-producto {
        font-family: 'Franklin Gothic Medium';
        font-size: 2.3rem;
    }

    .seccion-arriba-nombre {
        flex: none;
    }

    .seccion-arriba-enlaces {
        display: flex;
        justify-content: flex-end;
        padding-left: 1rem;
    }
}

/*Tamaño y posicion del nombre y los enlaces cuando la longitud horizontal de la pantalla es de 767px*/
@media (max-width:767px) {

    .seccion-arriba {
        height: 12rem;
    }
    
    .seccion-arriba-centro {
        width: 90%;
        display: block;
        align-items: center;
    }

    #nombre-producto {
        font-family: 'Franklin Gothic Medium';
        font-size: 2.2rem;
    }

    .seccion-arriba-enlaces {
        margin-top: -1rem;
    }
}

/*FOTO Y DATOS INICIALES*/

/*Estilos para el div donde se encuentra la imagen del producto y los datos de compra*/
.producto-imagen-precio {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

/*Estilos para el div donde se encuentra la imagen. Se le da espacio y tamaño*/
.producto-imagen {
    flex: 40%;
    display: flex;
    justify-content: center;
}

/*Tamaño horizontal de la imagen del producto*/
.producto-imagen img {
    width: 75%;
}

/*Estilos para el div donde se encuentra, los datos de compra del producto*/
.producto-precio {
    flex: 60%;
    display: flex;
    flex-direction: column;
    border: 0.2rem solid #01b0bf;
    padding: 1.5rem;
}

/*Estilos para el nombre del producto*/
.descripcion-producto h2 {
    margin-top: 0;
    color: #01b0bf;
}

/*Tamaño de letra para la breve descripcion del producto*/
.descripcion-producto p {
    font-size: 2rem;
}

/*Escribir el texto de la garantia en negrita*/
#garantia {
    font-weight: bold;
}

/*Estilos para el texto donde pone el precio del producto*/
.precio-del-producto h3 {
    margin-bottom: 3rem;
    color: #01b0bf;
    font-size: 3.2rem;
}

/*Tamaño y posicion del div donde esta el boton y los input para elegir el stock*/
.carrito {
    display: flex;
    height: 3.5rem;
    justify-content: center;
}

/*Estilos para todos los input del div carrito*/
.carrito-input {
    height: 100%;
    width: 20%;
    background-color: #01b0bf;
    font-size: 1.5rem;
    margin-right: 2rem;
}

/*Tamaño del div donde se encuentran los input para elegir el stock*/
.mas-menos {
    display: flex;
    width: 20%;
}

/*Estilos de los input para elegir el stock*/
.mas-meons-input {
    height: 100%;
    width: 40%;
    background-color: white;
    border: 0.1rem solid #01b0bf;
    font-size: 2.5rem;
    color: #01b0bf;
}

/*Estilos del input para escribir a mano el stock*/
.mas-menos-text {
    height: 100%;
    width: 40%;
    border: 0.1rem solid #01b0bf;
    font-size: 2rem;
    text-align: center;
}

/*Estilos para cuando la pantalla mide entre 768 y 1278px de longitud horizontal*/
@media (min-width:768px) and (max-width:1278px) {
    .producto-imagen-precio {
        width: 80%;
    }

    .producto-imagen {
        flex: 50%;
    }

    .producto-precio {
        flex: 50%;
    }

    .precio-del-producto h3 {
        font-size: 2.8rem;
    }

    .carrito {
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: center;
    }

    .mas-menos {
        width: 60%;
        order: -1;
        margin-bottom: 2rem;
    }

    .carrito-input {
        width: 60%;
    }
}

/*Estilos para cuando la pantalla mide menos de 767px de longitud horizontal*/
@media (max-width:767px) {
    .producto-imagen-precio {
        width: 90%;
        flex-direction: column;
        margin-right: 2.5rem;
    }

    .carrito {
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: center;
    }

    .mas-menos {
        width: 60%;
        order: -1;
        margin-bottom: 2rem;
    }

    .carrito-input {
        width: 60%;
    }
}

/*MAIN*/

/*Descripcion del producto*/

/*Estilos para el div en el que se encuentra la descripcion detallada del producto*/
.seccion-descripcion-producto {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

/*Color para el titulo h3, "descripcion del producto"*/
.seccion-descripcion-producto h3 {
    color: #01b0bf;
}

/*Tamaño para la letra utilizada en la descripcion del producto*/
.seccion-descripcion-producto p {
    font-size: 2rem;
}

/*Quitarle el margen del ultimo subtitulo de la descripcion*/
.subtitulo {
    margin-bottom: 0;
}

/*Darle mas espacio a la zona en la que va escrita la descripcion del producto cuando la pantalla mide menos de 767px*/
@media (max-width:767px) {
    .seccion-descripcion-producto {
        width: 90%;
    }
}

/*Datos extra*/

/*Estilos para el subtitulo h4  "lo que hay que sber de este producto"*/
.datos-extra h4 {
    font-size: 2.5rem;
    color: #01b0bf;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Estilo para el contenedor donde se aloja la lista y la foto del producto*/
.datos-foto {
    display: flex;
}

/*Espacio que se le da al contenedor donde se encuentra la lista*/
.lista-datos {
    flex: 60%;
}

/*Tamaño y posicion de la letra de la lista*/
.lista-datos li {
    font-size: 2rem;
    margin-top: 2rem;
}

/*Estilos para el div donde se encuentra la foto del producto*/
.datos-extra-foto {
    flex: 40%;
    display: flex;
    justify-content: center;
}

/*Tamaño de la imagen del producto*/
.datos-extra-foto img {
    height: 100%;
    width: 60%;
}

/*Estilos de la lista cuando la pantalla mide entre 768 y 1278px de longitud horizontal*/
@media (min-width:768px) and (max-width:1278px) {
    .seccion-descripcion-producto {
        width: 80%;
    }

    .lista-datos {
        flex: 50%;
    }

    .datos-extra-foto {
        flex: 50%;
        display: flex;
        justify-content: center;
    }

    .datos-extra-foto img {
        margin-top: 3rem;
        height: 90%;
        width: 90%;
    }
}

/*Estilos de la lista cuando la pantalla mide menos de 767px de longitud horizontal*/
@media (max-width:767px) {

    .seccion-descripcion-producto {
        width: 90%;
    }

    .lista-datos li {
        margin-left: -2rem;
    }


    .datos-foto {
        display: flex;
        flex-direction: column;
    }
}

/*Caracteristicas tablas*/

/*Espacio que se le da al div donde se encuentran todas las tablas*/
.caracteristicas-tablas {
    width: 75%;
    margin: 0 auto;
}

/*Color del titulo general de todas las tablas, "caracteristicas del producto"*/
.caracteristicas-tablas h2 {
    color: #01b0bf;
}

/*Estilos para el contenedor donde estan las tablas, quedandose fuera el titulo h2*/
.tablas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/*Articulo para dar los mismos estilos a cada tabla*/
.articulo-tabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Color para los titulos individuales de cada tabla*/
.articulo-tabla h3 {
    color: #01b0bf;
}

/*Estilos para la etiqueta table, los mismos para todas las tablas*/
.tabla {
    margin-top: 1rem;
    width: 70%;
    border-collapse: collapse;
}

/*Estilos para la etiqueta tr de cada tabla*/
.tabla tr {
    height: 4.5rem;
    font-size: 1.8rem;
}

/*Estilos para la etiqueta td de cada tabla*/
.tabla td {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Dar color a las filas impares de cada tabla*/
.fila-oscura {
    background-color: rgb(146, 140, 140);
}

/*Dar color a las filas pares de cada tabla*/
.fila-clara {
    background-color: #ddd8d8;
}

/*Dar margen al titulo de la ultima tabla*/
#cama-caliente {
    margin-top: 2rem;
}

/*Estilos para el div donde se encuentra la imagen del producto*/
.div-imagen-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

/*Tamaño vertical para la imagen del producto*/
.div-imagen-tabla img {
    height: 90%;
}

/*Estilos de la zona de las tablas cuando la pantalla mide entre 768 y 1278px de longitud horizontal*/
@media (min-width:768px) and (max-width:1278px) {

    .caracteristicas-tablas {
        width: 80%;
    }

    .div-imagen-tabla {
        width: 80%;
    }

    .div-imagen-tabla img {
        height: 100%;
    }

    .tabla {
        margin-top: 1rem;
        width: 100%;
    }
}

/*Estilos de la zona de las tablas cuando la pantalla mide menos de 767px de longitud horizontal*/
@media (max-width:767px) {

    .caracteristicas-tablas {
        width: 90%;
    }
    
    .tablas {
        grid-template-columns: 1fr;
    }

    .tabla {
        margin-top: 1rem;
        width: 100%;
    }
}

/*FOOTER*/

/*Darle u color de fondo gris y dejar margen con respecto al formulario*/
footer {
    background-color: #f5f5f5;
    margin-top: 2rem;
  }
  
  /*Darle una longitud horizontal de 75% para centrar ahi los elementos del footer*/
  .div-footer {
    width: 75%;
    margin: 0 auto;
    display: flex;
  }
  
  /*Estilos para los tres contenedores del footer, donde esncuentran los enlaces y demas*/
  .contenedor-footer {
    display: flex;
    flex-direction:column;
    width: 30rem;
    margin-left: 8rem;
  }
  
  /*Tamaño y posicion de los titulos h3 */
  .contenedor-footer h3 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  /*Tamaño y posicion de las imagenes del footer*/
  .contenedor-footer img {
    margin-top: 1.5rem;
    width: 80%;
  }
  
  /*Estilos para el div donde se encuentra el logo de la empresa y el nombre*/
  .logo-footer {
    display: flex;
    align-items: center;
  }
  
  /*Tamaño y posicion de la imagen del logo de la empresa*/
  .logo-footer img {
    height: 5rem;
    width: 6.5rem;
    margin-right: 1rem;
  }
  
  /*Tamaño de la imagen de la foto que esta en el div de la derecha*/
  #img-calidad {
    width: 50%;
  }
  
  /*Color y tamaño del titulo h1 del footer con el nombre de la empresa*/
  .logo-footer h1 {
    color: #01b0bf;
    font-size: 2.5rem;
  }
  
  /*Tamaño del div de la izquierda dond eesta el texto, tamaño de letra del texto y separacion entre lineas*/
  .texto-footer {
    width: 70%;
    font-size: 1.5rem;
    line-height: 2;
  }
  
  /*Tamaño de letra y posicion del titulo h4 del div de la izquierda del footer*/
  .contenedor-footer h4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  /*Estilos del nav donde estan los enlaces del footer*/
  .enlaces-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  
  /*Estilos de la zona gris clarita del footer cuando la pantalla mide entre 768 y 1278px de longitud horizontal*/
  @media (min-width:768px) and (max-width:1278px) {
    .div-footer {
      width: 85%;
    }
    
    .contenedor-footer {
      width: 40rem;
      margin-left: 0.1rem;
    }
  
    .texto-footer {
      width: 85%;
    }
  
    .logo-footer h1 {
      font-size: 1.5rem;
    }
  
    .logo-footer img {
      height: 4.5rem;
      width: 5.5rem;
    }
  }
  
  /*Estilos de la zona gris clarita del footer cuando la pantalla mide menos de 767px de longitud horizontal*/
  @media (max-width:767px) {
    .div-footer {
      width: 90%;
      margin: 0 auto;
      display: block;
    }
    
    .contenedor-footer {
      display: flex;
      flex-direction:column;
      width: 30rem;
      margin-left: 4rem;
      margin-bottom: 2rem;
    }
  
    .texto-footer {
      width: 85%;
    }
  }
  
  /*Footer de abajo del todo de la pagina*/
  
  /*Estilos para el div donde esta la informacion de abajo del todo de la pagina*/
  .div-footer-abajo {
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
  }
  
  /*Tamaño del div donde esta la informacion de los derechos y los dos enlaces*/
  .div-footer-p {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  /*Estilos para la letra de la informacion de los derechos y de los dos enlaces*/
  .div-footer-p p, .enlaces-footer-abajo a {
    color: white;
    font-size: 1.3rem;
    align-items: center;
  }
  
  /*Estilos para el div donde estan los dos enlaces*/
  .enlaces-footer-abajo {
    display: flex;
    align-items: center;
  
  }
  
  /*Meter margen entre los dos enlaces*/
  .enlaces-footer-abajo a {
    margin-left: 2.5rem;
  }
  
  /*Tamaño y forma del contenedor de abajo del todo del footer cuando la longitud horizontal de la pantalla es de entre 768 y 1278px*/
  @media (min-width:768px) and (max-width:1278px) {
  
    .div-footer-abajo {
      height: 7rem;
    }
  
    .div-footer-p {
      width: 85%;
    }
  }
  
  /*Tamaño y forma del contenedor de abajo del todo del footer cuando la longitud horizontal de la pantalla es de 767px*/
  @media (max-width:767px) {
  
    .div-footer-abajo {
      height: 12rem;
    }
  
    .div-footer-p {
      width: 90%;
      display: block;
    }
  
    .enlaces-footer-abajo a {
      margin-top: 1rem;
    }
  }